In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("./input"))

['.DS_Store', 'data.csv']

In [2]:
data = pd.read_csv('./input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data['budget'] == data['budget'].max()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data['runtime'] == data['runtime'].min()]['original_title']

769    Winnie the Pooh
Name: original_title, dtype: object

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data['runtime'].mean()

109.65343915343915

In [12]:
answer_ls.append(2)
answer_ls

[4, 2, 3, 2]

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data['runtime'].median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data['profit'] = data['revenue']-data['budget']
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [16]:
data[['original_title', 'profit']].sort_values("profit", ascending = False).head()

                   original_title      profit
239                        Avatar  2544505847
3    Star Wars: The Force Awakens  1868178225
0                  Jurassic World  1363528810
4                       Furious 7  1316249360
971                  The Avengers  1299557910

In [17]:
answer_ls.append(5)
answer_ls

[4, 2, 3, 2, 1, 5]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
data[data['profit'] == data['profit'].min()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
len(data[data['profit'] > 0].index)

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
#max_profit_2008 = data[data['release_year'] == 2008]['profit'].max()
data[data['profit'] == data[data['release_year'] == 2008]['profit'].max()][['original_title', 'profit']]
#max_profit_2008

      original_title     profit
600  The Dark Knight  816921825

In [23]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [24]:
min_profit_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()
data[data['profit'] == min_profit_2012_2014][['original_title', 'profit']]

       original_title     profit
1246  The Lone Ranger -165710090

In [25]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [26]:
import collections


genreses_tmp = list(data['genres'])

categories = [] # here all genres for data
for genreses in genreses_tmp:
   tmp_list = [genres for genres in genreses.split('|')] 
   categories.extend(tmp_list)
# print (categories)
#

c = collections.Counter()
for category in categories:
   c[category] += 1
c.most_common()[0]
#genreses

('Drama', 782)

In [27]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [28]:
data['profit'] = data['revenue']-data['budget']

genreses_tmp = list(data[data['profit'] > 0]['genres'])



categories = [] # here all genres for data
for genreses in genreses_tmp:
   tmp_list = [genres for genres in genreses.split('|')] 
   categories.extend(tmp_list)
# print (categories)
#

c = collections.Counter()
for category in categories:
   c[category] += 1
print(c)
c.most_common()[0]

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

('Drama', 560)

In [29]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [30]:
df_director = data.groupby(['director'])['director'].agg(['count']).sort_values("count", ascending = False).head()
df_director

                   count
director
Steven Soderbergh     13
Clint Eastwood        12
Ridley Scott          12
Steven Spielberg      10
Shawn Levy            10

In [31]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [32]:

df_director_profit = data[data['profit'] > 0].groupby(['director'])['director'].agg(['count']).sort_values("count", ascending = False).head()
df_director_profit

                   count
director
Ridley Scott          12
Steven Spielberg      10
Steven Soderbergh     10
Clint Eastwood        10
Shawn Levy             9

In [33]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [34]:
df_director_profit = data[data['profit'] > 0].groupby(['director'])['profit'].agg(['sum']).sort_values("sum", ascending = False).head()
df_director_profit

                          sum
director
Peter Jackson      5202593685
David Yates        3379295625
Christopher Nolan  3162548502
J.J. Abrams        2839169916
Michael Bay        2760938960

In [35]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [36]:
casts = {'Emma Watson': 0,
'Johnny Depp': 0,
'Michelle Rodriguez': 0,
'Orlando Bloom': 0,
'Rupert Grint': 0}

for cast in casts:
    profit = data[data['cast'].str.contains(cast)]['profit'].sum()
    casts[cast] = profit
    
max(casts, key=lambda key: casts[key])

'Emma Watson'

In [37]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [38]:
casts = {'Nicolas Cage': 0,
'Danny Huston': 0,
'Kirsten Dunst': 0,
'Jim Sturgess': 0,
'Sami Gayle': 0}

for cast in casts:
    profit = data[(data['cast'].str.contains(cast)) & (data['release_year']==2012)]['profit'].sum()
    casts[cast] = profit
    
min(casts, key=lambda key: casts[key])

'Kirsten Dunst'

In [39]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [40]:
df_actors_high_budget_list = list(data[data['budget'] > data['budget'].mean()]['cast'])

def get_high_items(items_list):
    """Return highes item in list and count"""
    res_item_list = []
    for item in items_list:
        res_item_list.extend([x for x in item.split('|')])
    c = collections.Counter()
    for item in res_item_list:
       c[item] += 1
    #print(c)
    return c.most_common()[0]

get_high_items(df_actors_high_budget_list)

('Matt Damon', 18)

In [41]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [42]:
df_nicolas_cage_genres = list(data[data['cast'].str.contains('Nicolas Cage')]['genres'])
get_high_items(df_nicolas_cage_genres)

('Action', 17)

In [43]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [44]:
get_high_items(list(data['production_companies']))

('Universal Pictures', 173)

In [45]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
get_high_items(list(data[data['release_year'] == 2015]['production_companies']))

('Warner Bros.', 12)

In [47]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [48]:
df_comedy_profit = data[data['genres'].str.contains('Comedy')][['production_companies', 'profit']]

def get_profit_companies(df):
    """Return companies name  and profit"""
    companies_list = []
    c = collections.Counter()
    for i in range(len(df)):
        res_item_list = [x for x in df.iloc[i]['production_companies'].split('|')]

        for item in res_item_list:
           c[item] += df.iloc[i]['profit']
#     print(c)
    return c.most_common()[0]

get_profit_companies(df_comedy_profit)

('Universal Pictures', 8961545581)

In [49]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [50]:
df_profit_2012 = data[data['release_year'] == 2012][['production_companies', 'profit']]
get_profit_companies(df_profit_2012)

('Columbia Pictures', 2501406608)

In [51]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [52]:
data[data['production_companies'].str.contains('Paramount Pictures')][['original_title', 'profit']].sort_values("profit", ascending = True).head()

            original_title    profit
926   K-19: The Widowmaker -64831034
1124              Timeline -60519261
1723                  Next -51788987
1624                 Alfie -46604061
1632               Twisted -24805000

In [53]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [54]:
data.groupby(['release_year'])['profit'].agg(['sum']).sort_values("sum", ascending = False).head()

                      sum
release_year
2015          18668572378
2014          16397812953
2012          16077001687
2013          15243179791
2011          14730241341

In [55]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [56]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].agg(['sum']).sort_values("sum", ascending = False).head()

                     sum
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682

In [57]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [58]:
data['month'] = data['release_date'].apply(lambda s: pd.to_datetime(s).month)
# data['release_date'].apply(lambda s: pd.to_datetime(s).month)
data.groupby(['month'])['month'].agg(['count']).sort_values("count", ascending = False)

       count
month
9        227
12       191
10       186
8        161
3        156
4        149
6        147
11       146
7        142
5        140
2        135
1        110

In [59]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [60]:
data[(data['month'] >= 6) & (data['month'] <= 8)].groupby(['month'])['month'].agg(['count']).sum()

count    450
dtype: int64

In [61]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [62]:
data[(data['month'] == 12) | (data['month'] <= 2)].groupby(['director'])['director'].agg(['count']).sort_values("count", ascending = False).head()

                   count
director
Peter Jackson          7
Steven Soderbergh      6
Clint Eastwood         6
Adam Shankman          4
Nancy Meyers           4

In [63]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [64]:
# list_years = list(data['release_year'].unique())
# data[data['release_year'] == 2000].groupby(['month'])['month'].agg(['sum']).sort_values("count", ascending = False)
pivot = data.pivot_table(values=['profit'], index=['release_year'], columns=['month'], aggfunc='sum')
pivot.columns = list(x for x in range(1, 13))
month_max_profit = pivot.idxmax(axis = 1)
c = collections.Counter()
for year in month_max_profit.index:
   c[month_max_profit[year]] += 1
print(c)
c.most_common()[0][0]

Counter({6: 7, 12: 4, 5: 4, 7: 1})

6

In [65]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [66]:
# df_titles_studios = data[['original_title','production_companies']]
data['title_length'] = data['original_title'].apply(lambda s: len(str(s)))
# df_titles_studios = data[data['title_length'] > data['title_length'].mean()]['production_companies']
# # data['title_length'].mean()
# get_high_items(df_titles_studios)
# # data[]

production_companies_tmp = list(data['production_companies'])
companies = [] # here all companies for data
for item in production_companies_tmp:
    for company in item.split('|'):
        if company not in companies:
            companies.append(company)

letter_counter = collections.Counter()
c = collections.Counter()

def calc_letter_mean_for_company(row):
    for company in row['production_companies'].split('|'):
        c[company] += 1
        letter_counter[company] += row['title_length']
    

data[['production_companies','title_length']].apply(calc_letter_mean_for_company, axis=1)

for item in letter_counter:
    letter_counter[item] = letter_counter[item]/c[item]
# df_compannies = pd.DataFrame({ 'company': companies })
letter_counter.most_common()[0]

('Four By Two Productions', 83.0)

Увы не сразу правильно посчитал

In [67]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
data['title_world_length'] = data['original_title'].apply(lambda s: len(str(s).split(' ')))
# get unique company name
production_companies_tmp = list(data['production_companies'])
companies = [] # here all companies for data
for item in production_companies_tmp:
    for company in item.split('|'):
        if company not in companies:
            companies.append(company)
# items_dict = {}
# for company in companies:
#     items_dict['company'].append(company)
#     items_dict['title_world_length'].append(data[data['production_companies'].str.contains(company)][['title_world_length']].mean()[0])

In [69]:
# data[data['production_companies'].str.contains('Jim Henson Company')][['production_companies']].loc[219][0]
# max(c)
# c.most_common()[0]

# data[data['production_companies'].str.contains('Four By Two Productions')][['title_world_length']]
# new_data = pd.DataFrame(items_dict)
# new_data.max()

world_counter = collections.Counter()
c = collections.Counter()

def calc_world_mean_for_company(row):
    for company in row['production_companies'].split('|'):
        c[company] += 1
        world_counter[company] += row['title_world_length']
    

data[['production_companies','title_world_length']].apply(calc_world_mean_for_company, axis=1)
# print(c)
# print(world_counter)

for item in world_counter:
    world_counter[item] = world_counter[item]/c[item]
# df_compannies = pd.DataFrame({ 'company': companies })
world_counter.most_common()[0]

('Four By Two Productions', 12.0)

In [70]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [71]:
import re
c = collections.Counter()
def calc_world_count(row):
#     words = re.findall(r'\w+', row.lower())
#     for word in words:
    for word in row.lower().split(' '):
        if word != '-':
            c[word] += 1
    
data['original_title'].apply(calc_world_count)

# list(data['original_title'])
# words
len(c)

2461

In [72]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [73]:
display(data[data['vote_average'] >= 7.9][['original_title', 'vote_average']].sort_values("vote_average", ascending = False))
# data[data['popularity'] >= 31.667]
display(data[data['original_title'].isin(['Inside Out', 'Gone Girl', '12 Years a Slave'])]['vote_average'].mean())
display(data[data['original_title'].isin(['BloodRayne', 'The Adventures of Rocky & Bullwinkle'])]['vote_average'].mean())
display(data[data['original_title'].isin(['The Lord of the Rings: The Return of the King', 'Upside Down'])]['vote_average'].mean())
display(data[data['original_title'].isin(['300', 'Lucky Number Slevin'])]['vote_average'].mean())



# data.head()
# data['vote_average'].max()-(data['vote_average'].max()-data['vote_average'].min())/100
# data['vote_average'].value_counts(bins=50)
# data['popularity'].value_counts(bins=50)

                                     original_title  vote_average
600                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
873                                     The Pianist           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1184                        The Wolf of Wall Street           7.9
1192                               12 Years a Slave           7.9
1801                                        Memento           7.9

7.933333333333334

3.9

7.0

7.15

In [74]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [75]:
def calc_actors(name1, name2):
    return len(data[(data['cast'].str.contains(name1)) & (data['cast'].str.contains(name2))])
print('Johnny Depp & Helena Bonham Carter:', calc_actors('Johnny Depp', 'Helena Bonham Carter'))
print('Hugh Jackman & Ian McKellen:', calc_actors('Hugh Jackman', 'Ian McKellen'))
print('Vin Diesel & Paul Walker:', calc_actors('Vin Diesel', 'Paul Walker'))
print('Adam Sandler & Kevin James:', calc_actors('Adam Sandler', 'Kevin James'))
print('Daniel Radcliffe & Rupert Grint:', calc_actors('Daniel Radcliffe', 'Rupert Grint'))

Johnny Depp & Helena Bonham Carter: 6
Hugh Jackman & Ian McKellen: 5
Vin Diesel & Paul Walker: 5
Adam Sandler & Kevin James: 5
Daniel Radcliffe & Rupert Grint: 8

In [76]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [77]:
directors = ['Quentin Tarantino',
'Steven Soderbergh',
'Robert Rodriguez',
'Christopher Nolan',
'Clint Eastwood']

# directors = [] # here all directors for data
# for item in list(data['director']):
#    for director in item.split('|'):
#        if director not in directors:
#             directors.append(director)

profit = collections.Counter()

for director in directors:
    positive = len(data[(data['director'].str.contains(director)) & (data['profit'] > 0)])
    negative = len(data[(data['director'].str.contains(director)) & (data['profit'] <= 0)])
    if positive > 0:
        profit[director] = [round((1 - negative/positive)*100, 2), negative + positive]
    else:
        profit[director] = [ 0, negative + positive]

profit.most_common()[0:10]

[('Christopher Nolan', [100.0, 8]),
 ('Quentin Tarantino', [83.33, 7]),
 ('Clint Eastwood', [80.0, 12]),
 ('Steven Soderbergh', [70.0, 13]),
 ('Robert Rodriguez', [62.5, 11])]

In [78]:
answer_ls.append(4)

# Submission

In [79]:
len(answer_ls)

36

In [80]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       1
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4