# Данные о выставленных оценках фильмов

In [84]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

# Расшифровка идентификаторов фильмов

In [117]:
movies = pd.read_csv('movies.csv')
# movies[movies.duplicated()]
# movies.head()
movies[movies.duplicated(['title'], keep=False)]

,movieId,title,genres
650,838,Emma (1996),Comedy|Drama|Romance
2141,2851,Saturn 3 (1980),Adventure|Sci-Fi|Thriller
4169,6003,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Thriller
5601,26958,Emma (1996),Romance
5854,32600,Eros (2004),Drama
5931,34048,War of the Worlds (2005),Action|Adventure|Sci-Fi|Thriller
6932,64997,War of the Worlds (2005),Action|Sci-Fi
9106,144606,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Romance|Thriller
9135,147002,Eros (2004),Drama|Romance
9468,168358,Saturn 3 (1980),Sci-Fi|Thriller

Количество строк в файле рейтингов

In [85]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

Максимальный рейтинг

In [86]:
ratings['rating'].max()

5.0

In [91]:
min_ratings = ratings[(ratings['rating'] == 0.5)]
display(min_ratings.count())

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

Сколько фильмов в таблице movies

In [12]:
len(movies['title'].unique())

9737

Объединение таблиц

In [96]:
joined = ratings.merge(movies, on='movieId', how='outer')
joined.count()

userId       100836
movieId      100854
rating       100836
timestamp    100836
title        100854
genres       100854
dtype: int64

примеры

In [118]:
ratings_ex = pd.read_csv('ratings_example.txt', sep = '\t')
movies_ex = pd.read_csv('movies_example.txt', sep = '\t')
display(ratings_ex.head())
display(movies_ex.head())

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [121]:
joined_ex = ratings_ex.merge(movies_ex, on='movieId', how='left')
display(joined_ex)

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

Удаление дубликатов

In [29]:
movies_ex.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies_ex.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [44]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

Объедините получившиеся датафреймы по столбцу item_id с типом outer.

In [43]:
joined_items = purchase_df.merge(items_df, on='item_id', how='outer')
display(joined_items)

    purchase_id  item_id    price   vendor  stock_count
0         101.0   417283  13900.0  Samsung         54.0
1         101.0   849734   5330.0       LG         33.0
2         101.0   132223  38200.0    Apple        122.0
3         112.0   573943  49990.0    Apple         18.0
4         121.0    19475   9890.0       LG        102.0
5         145.0  3294095  33000.0    Apple         43.0
6         145.0   382043  67500.0  Samsung         77.0
7         145.0   302948  34500.0  Samsung        143.0
8         145.0   103845  89900.0      NaN          NaN
9         221.0   100132  11400.0       LG         60.0
10          NaN   312394      NaN      ZTE         19.0

Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.

Примечание: перемножение столбцов датафрейма можно производить разными способами, но самый простой - перемножение "в лоб" вида df['col1'] = df['col2'] * df['col3']. Для присоединения новых данных к датафрейму тоже можно использовать различные методы, включая функцию .append(), которая позволяет присоединять к датафрейму другой датафрейм, серии или словари.

In [58]:
joined_items = purchase_df.merge(items_df, on='item_id', how='inner')
joined_items['assa'] = joined_items['price'] * joined_items['stock_count']
display(joined_items[['item_id','assa']].sort_values(['assa'], ascending=False).head(1))

   item_id     assa
6   382043  5197500

In [59]:
display(joined_items[['assa']].sum())

assa    19729490
dtype: int64

Обработка файлов

In [67]:
import os
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [62]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for file in files:
    if file.endswith('.txt'):
        data.append(file)
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [68]:
data = list(filter(lambda x: x.endswith('.txt'), files))
data

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [65]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_8.txt', 'ratings_9.txt', 'ratings_10.txt', 'ratings_7.txt', 'ratings_6.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_1.txt', 'ratings_2.txt', 'ratings_3.txt']

In [66]:
os.walk('data')

собираем файлы в один data

In [73]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
data_files = list(filter(lambda x: x.endswith('.txt'), files))
for filename in data_files:
    temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'] )
    data = pd.concat([data, temp])
display(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
userId       100004 non-null object
movieId      100004 non-null object
rating       100004 non-null float64
timestamp    100004 non-null object
dtypes: float64(1), object(3)
memory usage: 3.8+ MB

None

In [100]:
movies[(movies['movieId']==3456)]['title']

2587    Color of Paradise, The (Rang-e khoda) (1999)
Name: title, dtype: object