In [191]:
import pandas as pd

data = pd.read_csv('data/main_task.csv')
display(data.head())
display(data.info())

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

None

In [184]:
for column in data.columns.to_list():
    print(type(data[column].loc[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [8]:
data['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [192]:
def convert_price(price_range):
    if price_range == '$':
        return 1
    elif price_range == '$$ - $$$':
        return 2
    elif price_range == '$$$$':
        return 3
    else:
        return 0

In [193]:
data['Price Range'] = data['Price Range'].apply(convert_price)
data['Price Range'].value_counts()

2    18412
0    13886
1     6279
3     1423
Name: Price Range, dtype: int64

In [204]:
# data[((data['Price Range'] < 1) & (data['Reviews'] != '[[], []]'))]
data[(data['City'] == 'Bratislava')]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
7,id_825,Bratislava,['Italian'],826.0,3.0,0,9.0,"[['Wasting of money', 'excellent cuisine'], ['...",/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
115,id_886,Bratislava,NaN,888.0,1.0,0,3.0,"[[], []]",/Restaurant_Review-g274924-d7995801-Reviews-Sl...,d7995801
133,id_873,Bratislava,['Greek'],874.0,3.0,0,3.0,"[['Great for lunch menu'], ['08/04/2014']]",/Restaurant_Review-g274924-d4770241-Reviews-Ol...,d4770241
154,id_252,Bratislava,NaN,253.0,4.0,0,10.0,"[['Perfect Sunday morning', 'Great coffee'], [...",/Restaurant_Review-g274924-d12111665-Reviews-V...,d12111665
205,id_451,Bratislava,"['American', 'Bar', 'European', 'Pub', 'Intern...",452.0,3.0,2,178.0,"[['Hard Rock on a budget', 'Quality of the mea...",/Restaurant_Review-g274924-d2085183-Reviews-In...,d2085183
...,...,...,...,...,...,...,...,...,...,...
39094,id_587,Bratislava,"['Cafe', 'Fast Food']",588.0,4.0,0,NaN,"[[], []]",/Restaurant_Review-g274924-d4770268-Reviews-Ca...,d4770268
39219,id_26,Bratislava,"['Bar', 'European', 'Pub', 'Vegetarian Friendly']",27.0,4.5,1,311.0,"[['Great bar', 'Great bar'], ['02/23/2018', '0...",/Restaurant_Review-g274924-d4769912-Reviews-17...,d4769912
39338,id_641,Bratislava,['European'],642.0,3.5,2,22.0,"[['excellent breakfast spread', 'One of the be...",/Restaurant_Review-g274924-d4770251-Reviews-Au...,d4770251
39621,id_478,Bratislava,['International'],479.0,4.0,0,6.0,"[['Lovely restaurant with lots of history', 'N...",/Restaurant_Review-g274924-d2722170-Reviews-Ca...,d2722170
39947,id_276,Bratislava,NaN,277.0,5.0,0,9.0,"[['A great lunch stop', 'Not expensive and tas...",/Restaurant_Review-g274924-d4769868-Reviews-St...,d4769868

In [43]:
# data['Cuisine Style'].unique()
style = set()
all_style = []
style_mean = 0
count = 0
for i in list(data['Cuisine Style']):
    if str(i) != 'nan':
#         print(i)
#         print(i[2:-2].split("\', \'"))
        st = i[2:-2].split("\', \'")
        style_mean += len(st)
        count += 1
        all_style += st
    else:
        style_mean += 1
        count += 1
style_dict = dict()

for x in all_style:
    style_dict.setdefault(x, 0)
    style_dict[x] += 1
    
style_mean = style_mean/count
style_mean

2.6224

In [177]:
# data['dates'] = 
def last_reviews(st):
    index = 2
    list_dates = []
    list_dates_step1 = st[3:-3].split("], [") #[-1].split("\', \'")
    if len(list_dates_step1)>1:
        list_dates_step2 = list_dates_step1[0][0:-1].split("\', \'")
#         print(len(list_dates_step1))
        list_dates_step3 = list_dates_step1[1][1:].split("\', \'")
        list_dates = list_dates_step3[0]
        
    else:
        
        list_dates = ''
    
#     list_dates.append(list_dates_step3)
#     print(list_dates)
    return list_dates

def prev_reviews(st):
    list_dates = []
    list_dates_step1 = st[3:-3].split("], [") #[-1].split("\', \'")
    if len(list_dates_step1)>1:
        list_dates_step3 = list_dates_step1[1][1:].split("\', \'")
        if len(list_dates_step3)>1:
            list_dates = list_dates_step3[1]
        else:
            list_dates = ''
    else:
        list_dates = ''
    
#     list_dates.append(list_dates_step3)
#     print(list_dates)
    return list_dates
len(data['Reviews'].apply(last_reviews).unique())

1881

In [183]:
data['LastDate'] = pd.to_datetime(data['Reviews'].apply(last_reviews))
data['PrevDate'] = pd.to_datetime(data['Reviews'].apply(prev_reviews))
data['deltaDate'] = data['LastDate'] - data['PrevDate']
data['deltaDate'].max()

Timedelta('3207 days 00:00:00')

In [ ]:
cities = 
cities